/* Header.css */
.h-wrapper{
    color: white;
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
}
.h-container{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: white;
}
.h-menu{
    gap: 2rem;
}
.h-menu>a{
    color: white;
    text-decoration: none;
}
.h-menu>a:hover{
    color: #FFD700; /* Example: Gold color on hover */
    transform: translateY(-3px); /* Slightly move up */
    transition: all 0.3s ease; /* Smooth transition for all properties */
}
.h-menu>.button{
    background: #5c7cfa;
    padding: 0.6rem 1.5rem;
    border-radius: 4px;
    border: none;
    color: white;
    transition: all 0.3s ease;
}
.h-menu>.button:hover{
    cursor: pointer;
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05); /* Slightly enlarge */
}
.h-menu>.button>a{
    color: white;
    text-decoration: none;
}
.menu-icon{
    display: none;
}

@media (max-width: 800px) {
    .menu-icon{
        display: block;
    }
    .h-menu{
        z-index: 99;
        flex-direction: column;
        position: absolute;
        top: -100%;
        right: 4rem;
        background: white;
        padding: 3rem;
        border-radius: 10px;
        gap: 1.5rem;
        transition: all 300ms ease-in;
        align-items: flex-start;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    .h-menu>a{
        color: #003366;
    }
    .h-menu>a:hover{
        color: #FFD700;
    }
    .h-menu>.button{
        background: #003366;
    }
    .h-menu>.button:hover{
        background-color: #0056b3;
    }
}

/* New styles for desktop/mobile buttons */
.desktop-button {
    display: none; /* Hide on mobile by default */
}

/* Show desktop button and hide mobile button on screens wider than 800px */
@media (min-width: 801px) {
    .desktop-button {
        display: block;
    }
    .mobile-button {
        display: none;
    }
}